{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Paws And Wings-About</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="	sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/"><i class="fa fa-paw" aria-hidden="true"></i> Paws And Wings</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="/">Home </a></li>
	        <li class="active"><a href="/about" >  About <i class="fa fa-question" aria-hidden="true"></i></a></li>
	        <li><a href="/contact">Contact <i class="fa fa-mobile" aria-hidden="true"></i></a></li>
	      </ul>
	    
		  {% if user.is_authenticated %}
		  <ul class="nav navbar-nav navbar-right">
			 <li><a href="">{{ user }} <i class="fa fa-user" aria-hidden="true"></i></a></li>
		   </ul>
		   {% else %}
		   <ul class="nav navbar-nav navbar-right">
			 <li><a href="/login">Login <i class="fa fa-user" aria-hidden="true"></i></a></li>
		   </ul>
		 {% endif %}
		 
	    </div>
	  </div>
	</nav>
	<div class="container">
		<div class="jumbotron">
			<h1> <i class="fa fa-question" aria-hidden="true"></i> About</h1>
		</div>
		<div class="well">
			<h1>Hi,</h1>
			
			<p>
				This is an initiative taken for our four-legged friends and other pet friends!
			This idea is my brainchild created during the Lockdown of 2020. When I noticed as we humans struggled to make ends meet in that tough time , we were not alone! Our pet friends have struggled a lot in this time period.Many people who migrated to various other places had to do arrangements for their pets , which was a hectic task.. 
			</p>
			
			<p> 
				So this website is a medium where people could share the lifestyle of their pets on the 'Master Of networks' - The Internet! People could share images and funny videos of their pets. As well as some grooming tips of their pet kid. Also they could post if they need someone to take care of their pets (temporarily/permanentaly), they could come in touch with other users using the chat facility. People could also find interested people to adopt the offsprings of their pets.
			</p>    
		</div>
		<div class="well">
			<h1><strong>Note:</strong></h1>
			<p>This site is also intended for people to share if any animal is found in distress and the councerned authorities will be helping the needy. Afterall the site is created because every life matters!</p>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"> </script>
</body>
</html>