{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Paws and Wings</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="	sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
      <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/post_detail.css' %}">
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/"><i class="fa fa-paw" aria-hidden="true"></i> Paws And Wings</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/" >Home </a></li>
	        <li><a href="/about">About <i class="fa fa-question" aria-hidden="true"></i></a></li>
	        <li><a href="/contact">Contact <i class="fa fa-mobile" aria-hidden="true"></i></a></li>
	      </ul>
        </div>
        </div>
    </nav>
    
    <!--Single post detail-->

    <div class="post">
        <div class="profilepost">
            <div class="circle1">
                <img src="{% static 'css/img1.jpg' %}" alt="">
            </div>
            <p>{{ memories.user }}</p>
            <h6>{{ memories.date }}</h6>
        </div> 
        <hr>
        <p>{{memories.content }}</p>
        <div class="img-post">
            <img src="{{ memories.image.url }}" alt="image">
        </div>
        <hr>
        <div class="sharing">
            <i class="far fa-heart ico" aria-hidden="true"></i>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
              <i class="fab fa-facebook ico"></i>
              </a>
          </div>
          
          <h4>Leave Us a Comment</h4>
            <form accept="{% url 'post_detail' memories.id %}" method="POST">
              {% csrf_token  %}
            <textarea placeholder="What's on your mind?" name="comment"></textarea>
                <div class="btn">
                <input  type="submit" value='Comment' id="comment_btn">
                </div>
            </form>  

            {% if not memories.comments.all %}
              No Comment Yet..... 
            {% else %}

            {% for comment in memories.comments.all %}
            
            <div class="comments">
                <hr>
                <p id="user">{{ comment.name }} </p>
                <p id="date">{{ comment.date }}</p>
                <p id="content" style="line-height: 25px;">{{ comment.body }} </p>
            </div>
            {% endfor %}

            {% endif %}
          
        </div>
        

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"> </script>
</body>
</html>