body{
	color:"white";
	font-family: lato;
	background: url(https://images.unsplash.com/photo-1504595403659-9088ce801e29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
	background-position:left;
	background-size: cover; 
	color:white;
	font-family: 'Inconsolata', monospace;
}
html{
	height: 100%;
	width: 100%
}
.jumbotron{
	text-align: center;
	background-color: rgba(0,0,0,0.4)	
}
.well{
	font-size: 20px;
	background-color: rgba(0,0,0,0.4)

}