*{
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
}

.profile{
    margin: 10px;
    padding: 10px;
    width: 300px;
    background-color:rgb(248, 247, 247);
    float: left;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(145, 136, 136, 0.4);
}


.circle img{
	background-size: cover;
	height: 90px;
	width: 90px;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
}

.post{
    width: 60%;
    float: right;
    margin-right: 20%;
    margin-top: 10px;
    background-color:rgb(248, 247, 247);
    box-shadow: 5px 5px 5px  rgba(145, 136, 136, 0.4);
}

.circle1 img{
	background-position: 50%;
	background-size: cover;
	height: 60px;
	width: 60px;
    border-radius: 50%;
    background-color: red;
    float: left;
}

.profilepost{
    margin: 10px;
    
}

.profilepost p{
  padding-top: 20px;
  padding-left: 70px;    
}

.profilepost h6{
    padding-top: 5px;
    padding-left: 70px;    
    font-size: 12px;
  }

.img-post img{
    padding: 10px;
    height: 650px;
    width: 100%;
}

.post p{
    margin: 10px;
    line-height: 20px;
}

.sharing{
    margin: 10px;
}

.sharing .ico{
    margin: 5px;
    font-size: 25px;
}

.far , .fa ,.fab{
	cursor:pointer;
}
.far:hover{
	color: darkblue;	
}
.fa:hover{
    color: darkblue;
}
.fab:hover{
    color: darkblue;
}

#likes{
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
