{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Paws And Wings-Sign Up</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="	sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="index.html"><i class="fa fa-paw" aria-hidden="true"></i> Paws And Wings</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="index.html">Home </a></li>
	        <li><a href="about.html" >  About <i class="fa fa-question" aria-hidden="true"></i></a></li>
	        <li><a href="contact.html">Contact <i class="fa fa-mobile" aria-hidden="true"></i></a></li>
	      </ul>
	    
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="signin.html">Sign In <i class="fa fa-user" aria-hidden="true"></i></a></li>
	        <li class="active"><a href="signup.html">Sign Up <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
	        
	      </ul>
	    </div> 
	  </div>
	</nav>
	<form action="{% url 'signup' %}" method="POST">
		{% csrf_token %}
		<div class="login-box">
			<h1>Registered</h1>
			{%  if error %}
			<h4>{{error}}</h4>
			{% endif %}
            <div class="textbox">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" placeholder="User Name" name="username" id="emailid" onkeyup="HideErrorMsg('errMsgEmail')">
                <br>
                <span id="errMsgEmail"></span>
            </div>
            <div class="textbox">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" placeholder="Password" name="Password" id="password" onkeyup="HideErrorMsg('errMsgPass')">
                <br>
                <span id="errMsgPass"></span>
			</div>
			<div class="textbox">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" placeholder="Confirm Password" name="Passwordagain" id="password" onkeyup="HideErrorMsg('errMsgPass')">
                <br>
                <span id="errMsgPass"></span>
            </div>
            <input class ="btn" type="submit" name="" value="Sign Up" onclick="validate()">  
            
        <div>
            <h4>i have already account <a href="signup.html" target="_blank"> Login Here</a></h4>
        </div>
    </div>
	</form>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"> </script>
</body>
</html>