body{
	background:url(https://images.unsplash.com/photo-1585250133075-e134d50e4abb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
	background-position: center;
	background-size: cover;
	font-family: 'Inconsolata', monospace;
}
html{
	height: 100%;
}
.login-box{
	padding-top: 10%;
	text-align:center;
	font-size: 30px;
	color:white;
}
.well{
	background-color: rgba(0,0,0,0.4);
	font-size:30px;
	width: 30%;
	margin-left: 35%;
	margin-top: 10%;
}
input{
	color: #000;
}

.submit-btn{
	color: black;
	font-size: 20px;
	margin: 20px;
	padding: 10px 20px;
	font-weight: bold;
}

h4{
	font-size: 25px;
	font-weight: bold;
}

h4 a{
	font-size: 25px;
	font-weight: bold;
	color: #fff;
}